.taskcard-wrapper{
    width: calc(100%-40px);
    height:46px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:white;
    border-radius:30px;
    padding-left:20px;
    padding-right:20px;
    margin-top:8px;
    margin-bottom:8px;
}
.input-group{
    display:flex;
}

.card-label{
   padding-left:16px;
}
.card-label-eidt{
  padding-left:16px;
  
}
.card-label-eidt :focus :active{
  outline:0;
  border-color:transparent;
  
}
.ellipse-container {
    position: relative;
    display: inline-block;
  }
.ellipse-dropdown {
    display: none;
    border-radius: 10px;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    padding: 5px 0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    min-width: 100px;
    right: 0;
    top: 25px;
    z-index: 1;
    transition: all 1s ease;
   
    }
  
  .ellipse-button {
    text-align: left;
    background-color: #fff;
    color: black;
    padding: 7px 10px;
    margin: 3px 5px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .ellipse-button:hover{
    background-color: #585292;
    color: #fff;
  }
  .edit-button{
    background: #585292;
    color:white;
    padding:10px 17px;
    border-radius:17px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right:-10px;
  }
  .edit-input{
    width: 100%;

  }